.mat-card{
    margin-bottom: 20px;
}

.post-content{
    margin-top: 10px;
}
.mat-mdc-card-content{
    display: flex;
    flex-flow: column;
    padding: 0 16px;  
}
.la-carte{
    display: flex;
    flex-direction: column;
    width: 100%;
}